### Data Understanding and Data Cleansing
1. Data overview
2. Filtering for US Region
3. Handling null values & duplicates
4. Deleting columns
5. Exporting to CSV

In [85]:
import pandas as pd

In [86]:
df = pd.read_csv('Py-Dataset/tech_fundings.csv')
df

,index,Company,Website,Region,Vertical,Funding Amount (USD),Funding Stage,Funding Date
0,1,Internxt,https://internxt.com/,Spain,Blockchain,278940,Seed,Jan-20
1,2,Dockflow,https://dockflow.com,Belgium,Logistics,292244,Seed,Jan-20
2,3,api.video,https://api.video,France,Developer APIs,300000,Seed,Jan-20
3,4,Buck.ai,https://buck.ai/,United States,Artificial Intelligence,300000,Seed,Jan-20
4,5,Prodsight,https://www.prodsight.ai,United Kingdom,Artificial Intelligence,529013,Seed,Jan-20
...,...,...,...,...,...,...,...,...
3570,3571,Headout,https://www.headout.com,United States,Travel,12000000,Series B,Sep-21
3571,3572,OLIO,https://olioex.com/,United Kingdom,Wellness,43000000,Series B,Sep-21
3572,3573,Trees for Life,https://treesforlife.org.uk,United Kingdom,Wellness,2737468,Crowdfunding,Sep-21
3573,3574,Britishvolt,https://britishvolt.com/,United Kingdom,Wellness,70000000,Series B,Sep-21
3574,3575,Greenly,https://www.greenly.earth/,France,Wellness,2953675,Seed,Sep-21

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3575 entries, 0 to 3574
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   index                 3575 non-null   int64
 1   Company               3575 non-null   object
 2   Website               3575 non-null   object
 3   Region                3563 non-null   object
 4   Vertical              3575 non-null   object
 5   Funding Amount (USD)  3575 non-null   object
 6   Funding Stage         3575 non-null   object
 7   Funding Date          3575 non-null   object
dtypes: int64(1), object(7)
memory usage: 223.6+ KB

In [88]:
df['Region'].value_counts()

Region
United States                 2034
United Kingdom                 319
India                          156
Canada                         111
Germany                        101
                              ...
Malta                            1
Ghana                            1
Belize                           1
Slovakia (Slovak Republic)       1
Senegal                          1
Name: count, Length: 72, dtype: int64

In [89]:
df = df.query("Region == 'United States'")
df

,index,Company,Website,Region,Vertical,Funding Amount (USD),Funding Stage,Funding Date
3,4,Buck.ai,https://buck.ai/,United States,Artificial Intelligence,300000,Seed,Jan-20
6,7,Seatrec,http://seatrec.com/,United States,Marine Technology,970000,Seed,Jan-20
7,8,BeeCanvas,https://beecanvas.com/en,United States,B2B Software,1000000,Seed,Jan-20
8,9,SmartKarrot,https://www.smartkarrot.com/,United States,B2B Software,1000000,Angel,Jan-20
10,11,Fundraise Up,https://fundraiseup.com,United States,B2B Software,1250000,Seed,Jan-20
...,...,...,...,...,...,...,...,...
3559,3560,Locus Robotics,https://www.locusrobotics.com,United States,Robotics,50000000,Series E,Sep-21
3560,3561,Discord,https://discord.com,United States,Social Network,500000000,Series H,Sep-21
3562,3563,Qwilt,https://www.qwilt.com,United States,Telecommunications,70000000,Series E,Sep-21
3569,3570,SmarterTravel,https://www.smartertravel.com/,United States,Travel,9500000,Series B,Sep-21
3570,3571,Headout,https://www.headout.com,United States,Travel,12000000,Series B,Sep-21

In [90]:
df.isnull().sum()

index                   0
Company                 0
Website                 0
Region                  0
Vertical                0
Funding Amount (USD)    0
Funding Stage           0
Funding Date            0
dtype: int64

In [91]:
df = df.drop_duplicates()
df

,index,Company,Website,Region,Vertical,Funding Amount (USD),Funding Stage,Funding Date
3,4,Buck.ai,https://buck.ai/,United States,Artificial Intelligence,300000,Seed,Jan-20
6,7,Seatrec,http://seatrec.com/,United States,Marine Technology,970000,Seed,Jan-20
7,8,BeeCanvas,https://beecanvas.com/en,United States,B2B Software,1000000,Seed,Jan-20
8,9,SmartKarrot,https://www.smartkarrot.com/,United States,B2B Software,1000000,Angel,Jan-20
10,11,Fundraise Up,https://fundraiseup.com,United States,B2B Software,1250000,Seed,Jan-20
...,...,...,...,...,...,...,...,...
3559,3560,Locus Robotics,https://www.locusrobotics.com,United States,Robotics,50000000,Series E,Sep-21
3560,3561,Discord,https://discord.com,United States,Social Network,500000000,Series H,Sep-21
3562,3563,Qwilt,https://www.qwilt.com,United States,Telecommunications,70000000,Series E,Sep-21
3569,3570,SmarterTravel,https://www.smartertravel.com/,United States,Travel,9500000,Series B,Sep-21
3570,3571,Headout,https://www.headout.com,United States,Travel,12000000,Series B,Sep-21

In [92]:
df = df.drop(['index','Website'], axis=1)
df

,Company,Region,Vertical,Funding Amount (USD),Funding Stage,Funding Date
3,Buck.ai,United States,Artificial Intelligence,300000,Seed,Jan-20
6,Seatrec,United States,Marine Technology,970000,Seed,Jan-20
7,BeeCanvas,United States,B2B Software,1000000,Seed,Jan-20
8,SmartKarrot,United States,B2B Software,1000000,Angel,Jan-20
10,Fundraise Up,United States,B2B Software,1250000,Seed,Jan-20
...,...,...,...,...,...,...
3559,Locus Robotics,United States,Robotics,50000000,Series E,Sep-21
3560,Discord,United States,Social Network,500000000,Series H,Sep-21
3562,Qwilt,United States,Telecommunications,70000000,Series E,Sep-21
3569,SmarterTravel,United States,Travel,9500000,Series B,Sep-21
3570,Headout,United States,Travel,12000000,Series B,Sep-21

In [93]:
df.to_csv('Tech Company Funding in US.csv', index=False)